@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "montserrat", fantasy;
  font-size: 67.5%;
}

#navbar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffeb99;
  height: 100vh;
  width: 300px;
}

#navbar .nav-title {
  text-align: center;
  font-size: 2.7rem;
  font-weight: 700;
  color: #363636;
  padding: 20px 0;
}

#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

#navbar ul li {
  font-size: 1.5rem;
  padding: 15px 20px;
  border-top: 1px solid #363636;
}

#navbar ul li a {
  text-decoration: none;
  color: #363636;
  font-weight: 500;
}

#navbar .container {
  display: inline-block;
  cursor: pointer;
  display: none;
}

#navbar .bar1,
#navbar .bar2,
#navbar .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 10px;
}

#navbar .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

#navbar .change .bar2 {
  opacity: 0;
}

#navbar .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#main-doc {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #d4ebd0;
  margin-left: 300px;
  padding: 0px 25px;
}

#main-doc .main-section .title {
  font-size: 2.7rem;
  font-weight: 700;
  color: #363636;
  padding: 25px 0px;
}

#main-doc .main-section p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #363636;
  margin-bottom: 18px;
  margin-left: 50px;
  line-height: 2.5rem;
  text-align: left;
}

#main-doc .main-section ul {
  margin-left: 60px;
}

#main-doc .main-section ul li {
  font-size: 1.5rem;
  font-weight: 400;
  color: #363636;
  margin-bottom: 18px;
  margin-left: 50px;
  line-height: 2.5rem;
  text-align: left;
}

#main-doc .main-section code {
  position: relative;
  display: block;
  font-size: 1.4rem;
  padding: 20px;
  margin-bottom: 18px;
  margin-left: 50px;
  background-color: #a4c5c6;
  border: none;
  border-radius: 10px;
  line-height: 2.4rem;
  text-align: left;
}

@media (max-width: 850px) {
  html {
    font-size: 67%;
  }
  #navbar {
    width: 100vw;
    height: 10vh;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navbar .nav-title {
    font-size: 2rem;
  }
  #navbar ul {
    position: absolute;
    background-color: #ffeb99;
    height: 90vh;
    width: 100vw;
    top: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  #navbar ul li:nth-child(14) {
    border-bottom: 1px solid #363636;
  }
  #navbar .container {
    display: block;
  }
  #main-doc {
    position: absolute;
    background-color: #d4ebd0;
    margin-top: 10vh;
    margin-left: 0;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: none;
    z-index: 1;
  }
  #main-doc .main-section p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #363636;
    margin-bottom: 18px;
    margin-left: 50px;
    line-height: 2.5rem;
    text-align: left;
    margin-left: 0px;
  }
  #main-doc .main-section code {
    position: relative;
    display: block;
    font-size: 1.4rem;
    padding: 20px;
    margin-bottom: 18px;
    margin-left: 50px;
    background-color: #a4c5c6;
    border: none;
    border-radius: 10px;
    line-height: 2.4rem;
    text-align: left;
    margin-left: 0px;
    text-align: left;
    white-space: wrap;
  }
  #main-doc .main-section ul {
    margin-left: 30px;
  }
  #main-doc .main-section ul li {
    font-size: 1.5rem;
    font-weight: 400;
    color: #363636;
    margin-bottom: 18px;
    margin-left: 50px;
    line-height: 2.5rem;
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */